# Системные и временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv

# Временные файлы проекта и логи
logs/
*.log
*_backup.py
.DS_Store

# Файл обновления
_updater.bat
PNOS_update.exe

# Папки отчетов, если они вдруг попадут в корень
п.*/
CleanSource.xlsx
~$*
